Artefactos/Schemas/libertyTypes/InfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.lsc.services/libertyTypes"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:complexType name="InfoRequest">
  <xsd:sequence>
   <xsd:element minOccurs="1" name="requestID" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="1" name="fecha" type="xsd:dateTime"></xsd:element>
   <xsd:element minOccurs="1" name="aplicacionCliente" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="1" name="terminal" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="1" name="ip" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>