Artefactos/WSDLs/Estado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.lsc.services/libertyTypes"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:complexType name="Estado">
  <xsd:sequence>
   <xsd:element minOccurs="1" name="codigoEstado" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="0" name="codigoEstadoServidor" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="1" name="severidad" type="xsd:string"></xsd:element>
   <xsd:element minOccurs="0" name="descripcionEstado" type="xsd:string"></xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>